{% extends "base.html" %}

{% block title %}Application Details{% endblock %}

{% block content %}
<h1>Application Details</h1>
<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ application.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ application.address }}</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>{{ application.phone_number }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ application.email }}</td>
            </tr>
            <tr>
                <th>Title of Request</th>
                <td>{{ application.title_of_request }}</td>
            </tr>
            <tr>
                <th>Funding Summary</th>
                <td>{{ application.funding_summary }}</td>
            </tr>
            <tr>
                <th>How Would You Spend the Grant</th>
                <td>{{ application.how_spend_grant }}</td>
            </tr>
            <tr>
                <th>Importance of Grant</th>
                <td>{{ application.importance_of_grant }}</td>
            </tr>
            <tr>
                <th>Goals</th>
                <td>{{ application.goals }}</td>
            </tr>
            <tr>
                <th>Date Required</th>
                <td>{{ application.required_date }}</td>
            </tr>
            <tr>
                <th>Amount Requested</th>
                <td>{{ application.amount_requested }}</td>
            </tr>
            <tr>
                <th>Funding in Place</th>
                <td>{{ application.funding_in_place }}</td>
            </tr>
            <tr>
                <th>Benefit Description</th>
                <td>{{ application.benefit_description }}</td>
            </tr>
            <tr>
                <th>Commitment Description</th>
                <td>{{ application.commitment_description }}</td>
            </tr>
            <tr>
                <th>Barriers Description</th>
                <td>{{ application.barriers_description }}</td>
            </tr>
            <tr>
                <th>Result Availability</th>
                <td>{{ application.result_availability }}</td>
            </tr>
            <tr>
                <th>Where Heard From</th>
                <td>{{ application.heard_from }}</td>
            </tr>
            <tr>
                <th>Additional Information</th>
                <td>{{ application.additional_info }}</td>
            </tr>
            <tr>
                <th>Previous Application Details</th>
                <td>{{ application.previous_application_details }}</td>
            </tr>
            <tr>
                <th>Evaluation Proposal</th>
                <td>{{ application.evaluation_proposal }}</td>
            </tr>
            <tr>
                <th>Support Network</th>
                <td>{{ application.support_network }}</td>
            </tr>
            <tr>
                <th>Other Support</th>
                <td>{{ application.other_support }}</td>
            </tr>
            <tr>
                <th>Applicant Signature</th>
                <td>{{ application.applicant_signature }}</td>
            </tr>
            <tr>
                <th>Signed Date</th>
                <td>{{ application.signed_date }}</td>
            </tr>
            <tr>
                <th>Parent Signature</th>
                <td>{{ application.parent_signature }}</td>
            </tr>
            <tr>
                <th>Parent Details</th>
                <td>{{ application.parent_details }}</td>
            </tr>
        </tbody>
    </table>
</div>
<a href="{% url 'application_list' %}" class="btn btn-secondary mt-3">Back to Applications</a>
{% endblock %}
