{% extends "base.html" %}

{% block title %}Uploaded Media{% endblock %}

{% block content %}
<h1>Uploaded Media</h1>
<ul class="list-group">
    {% for item in media %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <strong>{{ item.title }}</strong>
            <a href="{{ item.media_file.url }}" class="btn btn-link">Download</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'upload_media' %}" class="btn btn-primary mt-3">Upload More Media</a>
{% endblock %}
